{% extends 'base.html.twig' %}

{% block title %}Rate index{% endblock %}

{% block content %}
    <h1>Tarifs</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Villa</th>
                <th>Du</th>
                <th>Au</th>
                <th>Prix</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for rate in rates %}
            <tr>
                <td>{{ rate.villa.name }}</td>
                <td>{{ rate.firstPeriod ? rate.firstPeriod|date('d-m-Y') : '' }}</td>
                <td>{{ rate.secondPeriod ? rate.secondPeriod|date('d-m-Y') : '' }}</td>
                <td>{{ rate.price }} €</td>
                <td>
                    <a id="villa_edition" class="btn btn-warning btn-lg"  href="{{ path('rate_edit', {'id': rate.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun tarif trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
