{% extends 'base.html.twig' %}

{% block content %}
    <div class="cover_img">
        <img id="loisierCover" src="{{ asset('build/pages/activity/cover.jpg') }}" alt=exemple>
    </div>
    <div class="green_bg">
        <h1 id="office_title"><a class="activity_link_title" href="https://www.ot-portovecchio.com/" target="_blank">Office de tourisme de Porto Vecchio</a></h1>
    </div>
    <div class="office_containeur">
        <img id="activity_img_portoV" src="{{ asset('build/pages/activity/porto_vecchio_temporary.jpg') }}"  alt="vue depuis la villa fiori 2"/>
        <div class="activity_link_containeur_portoV">
            <h2 id="activity_type_1"><a class="activity_link_list" href="https://www.ot-portovecchio.com/sud-corse/fr/3-195/croisieres-en-mer.html" target="_blank">Croisière En Mer</a></h2>
            <h2 id="activity_type_2"><a class="activity_link_list" href="https://www.ot-portovecchio.com/sud-corse/fr/3-142/les-marches.html" target="_blank">Les marchés</a></h2>
            <h2 id="activity_type_3"><a class="activity_link_list" href="https://www.ot-portovecchio.com/sud-corse/fr/3-91/ou-manger-.html" target="_blank">Restaurants</a></h2>
            <h2 id="activity_type_4"><a class="activity_link_list" href="https://www.ot-portovecchio.com/sud-corse/fr/3-86/excursions.html" target="_blank">Excursions</a></h2>
            <h2 id="activity_type_5"><a class="activity_link_list" href="https://www.ot-portovecchio.com/sud-corse/fr/3-103/culture.html" target="_blank">Culture</a></h2>
        </div>
    </div>
    <div class="green_bg">
        <h1 id="office_title"><a class="activity_link_title" href="https://zonza-saintelucie.com/" target="_blank">Office de tourisme de Zonza</a></h1>
    </div>
    <div class="office_containeur">
        <img id="activity_img_zonza" src="{{ asset('build/pages/activity/zonza.jpg') }}"  alt="plage de la capicciola"/>
        <div class="activity_link_containeur_zonza">
            <h2 id="activity_type_6"><a class="activity_link_list" href="https://zonza-saintelucie.com/affinitaires/forme-et-bien-etre/" target="_blank">Forme et bien être</a></h2>
            <h2 id="activity_type_7"><a class="activity_link_list" href="https://zonza-saintelucie.com/affinitaires/autour-de-la-nature/#" target="_blank">Autour de la nature</a></h2>
            <h2 id="activity_type_8"><a class="activity_link_list" href="https://zonza-saintelucie.com/affinitaires/autour-de-la-mer/#" target="_blank">Autour de la mer</a></h2>
            <h2 id="activity_type_9"><a class="activity_link_list" href="https://zonza-saintelucie.com/restaurant/" target="_blank">Restaurants</a></h2>
        </div>
    </div>
    <div class="green_bg">
        <h1 id="office_title"><a class="activity_link_title" href="https://www.bonifacio.fr/a-voir-a-faire/" target="_blank">Office de tourisme de Bonifacio</a></h1>
    </div>
    <div class="office_containeur">
        <img id="activity_img_bonifacio" src="{{ asset('build/pages/activity/bonifacio_temporary.jpg') }}"  alt="exemple"/>
        <div class="activity_link_containeur_bonifacio">
            <h2 id="activity_type_10"><a class="activity_link_list" href="https://www.bonifacio.fr/a-voir-a-faire/bouger-sur-terre/activites-de-pleine-nature/" target="_blank">En pleine nature nature</a></h2>
            <h2 id="activity_type_11"><a class="activity_link_list" href="https://www.bonifacio.fr/a-voir-a-faire/bouger-sur-terre/balades-et-randos/" target="_blank">Balade et randonée</a></h2>
            <h2 id="activity_type_12"><a class="activity_link_list" href="https://www.bonifacio.fr/a-voir-a-faire/chacun-sa-plage/familiales/" target="_blank">Plages Familiales</a></h2>
            <h2 id="activity_type_13"><a class="activity_link_list" href="https://www.bonifacio.fr/a-voir-a-faire/manger-boire-un-verre/restaurants/" target="_blank">Restaurants</a></h2>
        </div>
    </div>
    <div class="green_bg">
        <h1 id="office_title"><a class="activity_link_title" href="http://www.lecci-sudcorse.com/" target="_blank">Office de tourisme de Lecci</a></h1>
    </div>
    <div class="office_containeur">
        <img id="activity_img_lecci" src="{{ asset('build/pages/activity/lecci.jpg') }}"  alt="exemple"/>
        <div class="activity_link_containeur_lecci">
            <h2 id="activity_type_14"><a class="activity_link_list" href="http://www.lecci-sudcorse.com/office-tourisme/29-lecci-corse-culture-et-patrimoine.html" target="_blank">Culture & Patrimoine</a></h2>
            <h2 id="activity_type_15"><a class="activity_link_list" href="http://www.lecci-sudcorse.com/office-tourisme/80-lecci-corse-la-route-du-vin.html" target="_blank">La route du vin</a></h2>
            <h2 id="activity_type_16"><a class="activity_link_list" href="http://www.lecci-sudcorse.com/office-tourisme/105-lecci-corse-les-marches--aux-alentours.html" target="_blank">Les marchés</a></h2>
            <h2 id="activity_type_17"><a class="activity_link_list" href="http://www.lecci-sudcorse.com/office-tourisme/17-lecci-corse-se-restaurer.html" target="_blank">Restaurants</a></h2>
        </div>
    </div>
{% endblock %}
