<div class=" goldForm" >
{{ form_start(form) }}
<div  class="row gold golden_book_responsive">
 <div class="col">{{ form_row(form.name) }}</div>
 </div>
 <div  class="row gold golden_book_responsive">
    <div class="col">{{ form_row(form.departureDate) }}  </div>
</div>
<div class="row gold golden_book_responsive">
<div id="comment" class="col">{{ form_row(form.commentary) }}</div>
</div>
<div class="row gold golden_book_responsive">

    <div class="col">{{ form_row(form.villa) }}</div>
</div>
{{ form_rest(form) }}
  <div class="ajouter_btn">
 <button class=" btn btn-warning btn-lg">{{ button_label|default('Partager') }}</button>
<a  class=" btn btn-warning btn-lg" href="{{ path('golden_book_index') }}">Retour</a>
</div>
{{ form_end(form) }}
</div>

