{% extends 'base.html.twig' %}

{% block title %}Villa index{% endblock %}

{% block body %}
    <h1>Villa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
                <th>NbRoom</th>
                <th>NbBed</th>
                <th>NbBathroom</th>
                <th>Capacity</th>
                <th>Sqm</th>
                <th>PriceFrom</th>
                <th>MinimumStay</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for villa in villas %}
            <tr>
                <td>{{ villa.name }}</td>
                <td>{{ villa.location }}</td>
                <td>{{ villa.description }}</td>
                <td>{{ villa.nbRoom }}</td>
                <td>{{ villa.nbBed }}</td>
                <td>{{ villa.nbBathroom }}</td>
                <td>{{ villa.capacity }}</td>
                <td>{{ villa.sqm }}</td>
                <td>{{ villa.priceFrom }}</td>
                <td>{{ villa.minimumStay }}</td>
                <td><img src="{{ villa.poster }}" alt="villa Laura "width="200" height="200"/></td>
    
                <td>
                    <a href="{{ path('villa_show', {'id': villa.id}) }}">show</a>
                    <a href="{{ path('villa_edit', {'id': villa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('villa_new') }}">Create new</a>
{% endblock %}