<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Villa Corsica{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
     <div class="logo">
     <a href="/"><img src="{{ asset('build/logo.png') }}"  alt="logo"/></a>
   </div>

<nav>
    <ul class="nav justify-content-center bg-white ">
    <li class="nav-item active">
        <a class="nav-link" href="/">Accueil</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{{ path('villa_index') }}">Villas</a>
      </li>
      <li class="nav-item active">
         <a class="nav-link active" href="{{ path('activity_index') }}">Loisirs</a>
      </li>
      <li class="nav-item active">

        <a class="nav-link" href="/golden/book/">Livre d'or</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" href="/">Contact</a>
     </li>

    </ul>
</nav>
{% for label, messages in app.flashes(['success', 'danger']) %}
 {% for message in messages %}
    <div class="alert alert-{{ label }}">
        {{ message }}
    </div>
 {% endfor %}
{% endfor %}
{% block content %}{% endblock %}
  {# Site footer #}
  {# it's not completed because we dont have the information from the client #}
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Accès</h6>
            <div class="access">
            <iframe id="carte" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15231.418582151717!2d9.354199784866891!3d41.65417014879752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d984d393edbc11%3A0xa0819a8982e5d80!2sCirendinu%2C%2020144%20Zonza!5e1!3m2!1sfr!2sfr!4v1592479791794!5m2!1sfr!2sfr"></iframe>
            </div>
            <p class="text-justify"></p>
        </div>
        <div class="col-xs-6 col-md-3">
            <h6>Contact</h6>
            <ul class="footer-links">
                <li></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>About</h6>
            <ul class="footer-links" >
              <li></li>
            </ul>
        </div>
    </div>
        <hr>
</footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
