{% extends 'base.html.twig' %}

{% block title %}LivreDor index{% endblock %}

{% block body %}
    <h1>LivreDor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Commentary</th>
                <th>DateArrival</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre_dor in livre_dors %}
            <tr>
                <td>{{ livre_dor.id }}</td>
                <td>{{ livre_dor.name }}</td>
                <td>{{ livre_dor.commentary }}</td>
                <td>{{ livre_dor.dateArrival ? livre_dor.dateArrival|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('livre_dor_show', {'id': livre_dor.id}) }}">show</a>
                    <a href="{{ path('livre_dor_edit', {'id': livre_dor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livre_dor_new') }}">Create new</a>
{% endblock %}
